@media screen and (max-width: 1024px) {
  .navigation__wrap {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .navigation {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .navigation__wrapper {
    max-width: 720px;
  }
  .header .carousel-item {
    height: 500px;
  }
  .carousel-caption h1 {
    font-size: 50px;
  }
  .carousel-caption h1 span {
    font-size: 50px;
  }
  .carousel-caption {
    top: 20%;
  }
  .carousel-indicators li {
    width: 6px;
    height: 6px;
  }
  .choose__card {
    margin-bottom: 20px;
  }
  .choose__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .products__img {
    margin-right: 16px;
  }
  .choose {
    padding: 50px 0;
  }
  .about {
    padding: 80px 0;
  }
  form {
    max-width: 400px;
  }
  form input {
    max-width: 190px;
  }
  .about__title {
    text-align: center;
    font-size: 25px;
  }
  .about__title span {
    font-size: 25px;
  }
  .footer__title {
    font-size: 25px;
  }
  .footer__title span {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .navigation__wrapper {
    max-width: 540px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption h1 span {
    font-size: 30px;
  }
  .choose__title {
    font-size: 25px;
  }
  .choose__title span {
    font-size: 25px;
  }
  .products__title {
    font-size: 25px;
  }
  .products__title span {
    font-size: 25px;
  }
  .carousel-item .container {
    margin-top: 200px;
  }
  .products__card {
    margin-bottom: 20px;
  }
  .footer__text {
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
  .form__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .form__address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }
  form {
    height: 140px;
  }
  .footer__copyright p {
    font-size: 12px;
  }
  .footer__copyright {
    padding: 12px 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 20px;
  }
  .carousel-caption h1 span {
    font-size: 20px;
  }
  .carousel-caption p {
    font-size: 12px;
  }
  .progress__bars {
    margin-top: 20px;
  }
  .choose__title {
    font-size: 20px;
  }
  .choose__title span {
    font-size: 20px;
  }
  .products__title {
    font-size: 20px;
  }
  .products__title span {
    font-size: 20px;
  }
  .products .carousel-item {
    height: 870px;
  }
  .products__card {
    max-width: 230px;
    margin: 0 auto;
  }
  .products__card .title {
    font-size: 16px;
  }
  .products__card .subtitle {
    font-size: 14px;
  }
  .products__card .text {
    font-size: 10px;
    line-height: 1.5;
  }
  .carousel-item .container {
    margin-top: 160px;
  }
  .footer__title {
    font-size: 20px;
  }
  .footer__title span {
    font-size: 20px;
  }
  .footer__text {
    font-size: 10px;
  }
  .form__wrap {
    padding: 10px;
    min-height: 470px;
  }
  .input__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form input {
    max-width: 100%;
    margin-bottom: 20px;
  }
  #email-error {
    top: 50px;
  }
  #name-error {
    left: -100px;
    top: 120px;
  }
  .form__address p {
    font-size: 10px;
  }
  .form__phone a,
  .form__mail a {
    font-size: 10px;
  }
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__social {
    margin-bottom: 10px;
  }
}
