body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  color: white;
  margin: 0 auto;
  padding: 0; }

div, p, input, button, ul, li, form, span, a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 72px;
  font-weight: normal; }

.container {
  display: grid;
  max-width: 100%;
  grid-template-areas: "header header header header" "glases glases about about" "sky man shoes mountain" "inst inst equip noneblue" "noneblack music music music" "spotify spotify itunes itunes" "footer footer footer footer"; }

.container header {
  background-image: url("../img/mainbackground.png");
  grid-area: header;
  -webkit-background-size: cover;
          background-size: cover;
  color: black; }
  .container header .nav {
    margin: 0 auto;
    max-width: 1170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 90px; }
    .container header .nav .logo {
      background: url("../img/logo.png") no-repeat center;
      height: 80px;
      width: 80px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .container header .nav .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .container header .nav .menu a {
        text-decoration: none;
        font-size: 12px;
        font-weight: normal;
        color: black; }
  .container header .header__title {
    padding-top: 180px;
    padding-left: 200px;
    padding-bottom: 280px; }
    .container header .header__title h1 {
      font-size: 72px;
      padding-bottom: 50px;
      font-weight: 100; }
    .container header .header__title h2 {
      font-size: 30px;
      width: 580px; }
    .container header .header__title span {
      font-weight: bold; }

.container__glases {
  background-image: url("../img/PHOTO.jpg");
  grid-area: glases;
  -webkit-background-size: cover;
          background-size: cover; }

.container__about {
  grid-area: about; }
  .container__about .quis {
    margin: 0;
    padding-top: 120px;
    padding-left: 60px;
    background-color: #f3f1ef;
    opacity: 0.6;
    color: black; }
    .container__about .quis h3 {
      font-size: 24px;
      font-weight: bold; }
    .container__about .quis p {
      font-weight: 100;
      width: 500px; }

.container__sky {
  background-image: url(../img/sky.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  height: 515px;
  grid-area: sky; }

.container__man {
  background-image: url(../img/man.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  height: 515px;
  grid-area: man; }

.container__shoes {
  background: url(../img/shoes.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  height: 515px;
  grid-area: shoes; }

.container__mountain {
  background: url(../img/mountain.jpg);
  height: 515px;
  grid-area: mountain; }

.container__inst {
  grid-area: inst; }
  .container__inst .instagram {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #3f729b;
    padding-top: 120px;
    padding-left: 200px;
    padding-bottom: 120px; }
    .container__inst .instagram h3 {
      font-size: 24px;
      line-height: 0;
      font-weight: bold;
      padding-bottom: 60px; }
    .container__inst .instagram p {
      margin: 0;
      font-weight: 100;
      width: 500px;
      font-size: 32px;
      padding-bottom: 58px; }
    .container__inst .instagram a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: bold;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      border: 1.5px solid white;
      padding: 12px 55px 12px 55px;
      letter-spacing: 3px;
      text-transform: uppercase; }

.container__equip {
  background-image: url("../img/equip.jpg");
  height: 515px;
  grid-area: equip; }

.container__noneblue {
  background-color: #3f729b;
  grid-area: noneblue; }

.container__noneblack {
  background-color: #282b2f;
  height: 900px;
  grid-area: noneblack; }

.container__music {
  background-image: url("../img/music.jpg");
  grid-area: music;
  -webkit-background-size: cover;
          background-size: cover; }
  .container__music .music__self {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 140px;
    padding-left: 60px;
    padding-bottom: 100px;
    width: 400px;
    background-color: #212227; }
    .container__music .music__self h3 {
      color: #2a954a;
      font-size: 24px;
      line-height: 1.5;
      padding-bottom: 40px; }
      .container__music .music__self h3 span {
        font-weight: bold; }
    .container__music .music__self ul {
      margin: 0;
      padding: 0;
      padding-bottom: 50px; }
      .container__music .music__self ul li {
        font-size: 14px;
        list-style-type: none; }
    .container__music .music__self .btn {
      color: #2ebd59;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      border: 2px solid #2ebd59;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      padding: 20px 20px 20px 20px; }

.container__spotify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2ebd59;
  grid-area: spotify; }
  .container__spotify .spotify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 130px;
    padding-bottom: 140px;
    font-weight: 100;
    width: 540px; }
    .container__spotify .spotify h4 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold; }
    .container__spotify .spotify a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      border: 2px solid white;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      padding: 15px 20px 15px 20px;
      letter-spacing: 5px; }

.container__itunes {
  grid-area: itunes;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 66px;
  background-color: #282b2f; }
  .container__itunes .itunes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 130px;
    padding-bottom: 140px;
    font-weight: 100;
    width: 540px; }
    .container__itunes .itunes h4 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold; }
    .container__itunes .itunes a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      border: 2px solid white;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      padding: 15px 20px 15px 20px;
      letter-spacing: 5px; }

.container .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  grid-area: footer;
  background-color: #212227;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px; }
  .container .footer__dude {
    width: 250px; }
    .container .footer__dude h5 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase; }
    .container .footer__dude p {
      padding-top: 20px;
      font-size: 14px;
      font-weight: 100;
      opacity: 0.6;
      font-weight: lighter; }
  .container .footer__contact h5 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
  .container .footer__contact p {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 100;
    opacity: 0.6;
    font-weight: lighter; }
  .container .footer__contact .follow_me {
    padding-top: 25px; }
    .container .footer__contact .follow_me h5 {
      padding-bottom: 25px; }
    .container .footer__contact .follow_me ul {
      margin: 0;
      padding: 0;
      opacity: 0.6; }
      .container .footer__contact .follow_me ul li {
        font-size: 14px;
        list-style-type: none;
        padding-top: 10px;
        font-weight: bold; }
        .container .footer__contact .follow_me ul li .fa {
          padding-right: 15px; }
  .container .footer__subscribe {
    width: 480px; }
    .container .footer__subscribe h5 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase; }
    .container .footer__subscribe p {
      padding-top: 20px;
      font-size: 14px;
      font-weight: 100;
      opacity: 0.6;
      font-weight: lighter; }
    .container .footer__subscribe .email {
      width: 480px;
      height: 60px;
      background-color: #4d4e52;
      color: white;
      font-size: 14px;
      outline: none;
      border: none;
      padding-left: 15px;
      text-transform: uppercase; }
    .container .footer__subscribe .sponsor {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 40px; }
      .container .footer__subscribe .sponsor .company {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 50px; }
        .container .footer__subscribe .sponsor .company .apple {
          width: 60px;
          height: 60px;
          background: url("../img/apple.svg") no-repeat center;
          -webkit-background-size: contain;
                  background-size: contain; }
        .container .footer__subscribe .sponsor .company .android {
          width: 60px;
          height: 60px;
          background: url("../img/android.svg") no-repeat center;
          -webkit-background-size: contain;
                  background-size: contain; }
        .container .footer__subscribe .sponsor .company .microsoft {
          width: 60px;
          height: 60px;
          background: url("../img/microsoft.svg") no-repeat center;
          -webkit-background-size: contain;
                  background-size: contain; }
